.navbar-brand {
    font-size: 36px;
    color: white !important;
}

// .navbar {
//     background-color: transparent !important;
// }

.navbar-link  {
    color: olive;
}
.navbar-link:hover  {
    color: rgb(135, 140, 143);
    text-decoration: none !important;
}