.App {
    background-color:#000;
}

.Landing .container {
    margin-top: -5vh;
    margin-bottom: -5vh;
}

.Home {
    background-color: #fff;
}


.Home-tag {
    display: inline-block;
    padding: 15vh 1vw;
}

.Home {
    background-color: #fff;
}

.divider {
    overflow: hidden;
    margin: -10vh 0;
    height: 30vh;
    padding: 0;
}

.divider-img {
    margin: -25vh 0 -80vh 0;
    transform: scaleX(-1);
}

.divider-img-b {
    margin: -40vh 0 -80vh 0;
}

.divider-img-r {
    margin: 0 -40vh 0 -80vh;
    transform: rotate(90deg);
}

.Project-card {
    font-size: 12px;
    display: inline-block;
    background-color: transparent;
}
