.App {
  text-align: center;
  /* width: 80vw; */
  margin: auto;
}

.App::before {
  content: '';
  position: absolute;
  border-radius: 30%;
  width: 3px;
  height: 70vh;
  top: 80vh;
  right: 61vw;
  background: rgba(236,167,44, 0.4);
  box-shadow: -2px 2px 1px 1px rgba(34, 30, 34, .1);
  z-index: -1;
}

.App::after {
  content: '';
  position: absolute;
  border-radius: 30%;
  width: 3px;
  height: 90vh;
  top: 200vh;
  right: 61vw;
  background: rgb(236,167,44, .4);
  box-shadow: -2px 2px 1px 1px rgba(34, 30, 34, .1);
  z-index: -2;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

