.App {
  text-align: center;
  width: 80vw;
  margin: auto;
}

.App::after {
content: '';
position: absolute;
border-radius: 30%;
  width: 3px;
  height: 300vh;
  top: 100vh;
  background: rgb(236,167,44, .2);
  z-index: 8;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

