.Contact {
    /* border: 2px solid #221e22ff; */
    /* opacity: 0.7; */
    border-radius: 1%;
    color: #eca72cff;
    position: relative;
    left: -20vh;
    background-color: rgb(34,30,34,.89);
    box-shadow: -8px 8px 2px 1px rgba(34, 30, 34, .3);
    padding: 3vh 3vw;
    z-index: 9;
}

.Contact h3 {
    margin: 3vh 1vw 6vw;
    padding: 2vh 0;
    border-bottom: 2px solid rgba(137, 114, 172, 0.8);
}

.Tiny {
    height: 20vh;
    display: inline-block;
}