@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@800&family=Changa:wght@600&family=Open+Sans&family=Roboto&display=swap');


:root{
/* --dark: #355070ff; */
--mid-one: #b56576ff;
--dark: #210810;
--mid-four: #5602B0;
--mid-three: #07a0c3;
--bright: #CF3A69 ;
--light: rgb(256,256,256,.9);
--gradient: linear-gradient(175deg,var(--mid-three), var(--mid-four));
}



body {
    margin: 0;
    padding: 0;
    font-size: 24px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    background-color: var(--mid-four);
    background-image: var(--gradient);
    font-family: 'Roboto', sans-serif;

  /* 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
}


h1 {
    font-size: 70px;
    color: var(--dark);
    font-family: 'Changa', sans-serif;

}

h1 span {
    color: var(--mid-four);
}

h2 {
    font-size: 60px;
    text-align: center;
    padding-bottom: 5vh;
    text-transform: uppercase;
    text-emphasis: bold;
    font-family: 'Changa', sans-serif;

}

h3 {
    font-size: 40px;
    padding-bottom: 5vh;
}

h4 {
    font-size: 30px;
    text-align: center;
    color: var(--light);
}

h5 {
    font-size: 30px;
    text-align: center;
    color: var(--light);
}

a {
    color: var(--dark)
}
a:hover {
    text-decoration: none;
    color: var(--light);
    transition: all 0.4s;
}
.btn {
    font-size: 28px;
    text-align: center;
    border: 4px solid var(--mid-four);
    border-radius: 10%;
    font-family: 'Changa', sans-serif;
    color: var(--mid-four);
    background-color: transparent;
    overflow: hidden ;
    position: relative;
    letter-spacing: 2px;
    padding: 12px 24px;

    /* animate and time the transitions*/
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transform: translateZ(0);
}

.btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    width: 102%;
    height: 0%;
    top: 0;
    left: 0;
    background-color: var(--mid-four);
    }

.btn:hover:after,
.btn:active:after{
    height: 102%;
}

.btn-covered {
    background-color: rgb(256, 256, 256, .4);
    border: 4px solid var(--mid-four);
}

.btn-covered:hover {
    color: var(--light);
    height: 102%;
}




.btn-lined {
    border-color: var(--light);
    color: var(--light);
}

.btn-lined:hover{
    color: var(--mid-four);
}

.btn-lined:after {
    background-color: var(--light);
    }

.btn-empty {
    border-color:  transparent;
}

.btn-empty:hover {
    color: var(--mid-three)
}

.btn-empty:after {
    border-color:  transparent;
    background-color: transparent;
    color: var(--mid-three)
}

/* Landing doesn't have a section or container*/
.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20vh;
    padding-bottom: 20vh;
    min-height: fit-content;
}

.section-filled {
    background-color: transparent;
    background-image: none;
    color: var(--light);
}

.section-cover {
    background-color: var(--light);
}

.container {
    padding: 10vh 0;
}


.jumbotron {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}


.Project-img{
    background-color: var(--dark);
    box-shadow: 1px 1px 6px var(--mid-two);
    min-height: 20vh;
}

.Project {
    margin: .5rem 0;
    background-color: rgb(256, 256, 256, .4);
    padding: 2rem;
}

.Projects {
    background-color: rgb(256, 256, 256, .3);
}

.Footer {
    background-color: var(--dark);
    color: var(--light);
    margin: 0;
}

.Footer a {
    color: var(--light);
    text-decoration:none;
}

.Footer-contact a:hover {
    color: var(--light);
    font-size: 110%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;

}

.Footer-contact {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#back-to-top{
    font-size: 80px;
}

.Contact {
    justify-content: center;
    align-items: center;
}

.Landing {
    background-color: var(--light)
}

.About-img {
    margin-bottom: 2rem;
    height: auto;
    width: 80% ;
    border-radius: 3%;
}