body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FBDEDA;
  color: #44355bff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
--english-violet: #44355bff;
--misty-rose: #FBDEDA;
--spanish-pink: rgb(247, 188, 182);
--raisin-black: rgb(34,30,34);
--marigold: rgb(236,167,44);
--flame: #ee5622ff;
--coral: rgb(242, 124, 84);
--purple-mountain-majesty: rgb(137, 114, 172);
}

h1, a {
    color: var(--english-violet);
    text-decoration: none;
}

h2 {
    border-bottom: 2px solid var(--raisin-black);
}

h3 {
    color: var(--coral);
}

h4, small, .text-muted  {
    color: var(--purple-mountain-majesty) !important;
}

.card {
    background-color: transparent;
}

button {
    border: 1px solid var(--purple-mountain-majesty) !important;
    background-color: transparent !important;
    color: var(--purple-mountain-majesty) !important;
    margin: 0 1vh !important;
}

a {
    text-decoration: none ;
    color: var(--misty-rose);
    /* border: 1px solid var(--marigold); */
}

a:hover {
    text-decoration: none ;
    color: var(--marigold);
}


/* CSS HEX */
/* --english-violet: #44355bff;
--misty-rose: #FBDEDA;
--spanish-pink: #f7bcb6ff;
--raisin-black: #221e22ff;
--marigold: #eca72cff;
--flame: #ee5622ff; */

