.Landing {
    min-height: 60vh;
    background: 
    linear-gradient(
        rgba(37, 24, 37, 0.70), 
        var(--violet));
    padding: 12vh 0;
    color: var(--offwhite);
    overflow: hidden;
}

.Landing-icon {
    color: var(--rosedust);
    margin: 0 1vw;
}

.Landing-name {
    color: var(--mac);
    display: inline;
}

.Landing .btn {
    background-color: transparent;
    color: var(--offwhite);
    border: 4px solid var(--offwhite);
    font-weight: bold;
    font-family: 'Calibri', 'Nunito Sans', sans-serif;
    padding: 10px
}

.Landing-card {
    box-shadow: none;
    /* border: 5px solid var(--offwhite); */
    border: none;
}