nav {
  font-weight: bold;
  font-size: 12px;
  background-color: transparent;
}

nav a {
  display: inline-block;
  text-decoration: none;
}

nav a:active {
  color: #fff;
  text-decoration: none;
}

nav a:hover {
  color: black;
  text-decoration: none;
}