.navbar {
    /* background-color: rgb(137, 114, 172, .4); */
    
    /* color: #44355bff; */
}
.Navigation {
    background-color: rgb(137, 114, 172, .4);
    margin: 0 -40vw;
}

.navbar-brand { 
    color: #FBDEDA;
}

.navbar-brand {
    margin-right: 20vw;
    color: #FBDEDA;
}

.nav-item {    
    border-radius: 2%;
}

.dropdown-menu {
    /* background-color: transparent; */
    border: none;
    border-radius: 5%;
    margin: 2px;
}

.dropdown-item {
    border-radius: 5%;
    margin: 5rem;
}