.ProjectsList-jumbo {
    background-color: transparent;
    /* background-color: rgba(137, 114, 172, 0.3); */
    /* background: linear-gradient(rgba(137, 114, 172, 0.1), rgba(137, 114, 172, 0.9)); */
    /* padding: 20vh 0 40vh; */
    margin: 30vh 0;
    z-index: -4;
    border: 2px solid rgb(137, 114, 172);
    box-shadow: -8px 8px 2px 1px rgba(34, 30, 34, .1);
}

.ProjectsList-title {
 /* border: 1px solid rgb(137, 114, 172, .5); */
 /* background-color: rgb(137, 114, 172, .1); */
 /* border-radius: 5%; */
}
.ProjectsList-header {
     /* border: 1px solid rgb(137, 114, 172, .5); */
 /* background-color: rgb(137, 114, 172, .1); */
 /* border-radius: 5%; */
}

.ProjectsList-sub {
    margin: 10vh 0vw 10vh;
    width: 80vw;
}

.Project {
    margin: 5vh 0;
    z-index: 3; 
}