
<div class="footer fixed-bottom container-fluid" style="margin-top: 5%">
    <div class="cta"> 
        <div class="row" style="background-color: slategrey;">
            <div style="display: inline-block; float:left; margin: 10% 0% 10% 15%; font-size:40px;">
                Looking for a developer?
            </div>
            <div style="display: inline-block; float:right; margin: 10% 15% 10% 0%; font-size:48px">
                <%= link_to "Let's chat", "/about", :style => "color:white" %>
            </div>
        </div>
    </div>
    <div class="contact-links container text-center", style="margin-top: 10%; margin-bottom: 5%;">
    link link link link 
    </div>
</div>
