<header class="navbar navbar-inverse">
        <div class="navbar-class">
            <div class="container">
                <ul class="nav navbar-nav">
                <li class="active"><a href="#">Cam Bui</a></li>
                <li><%=link_to "PORTFOLIO", "/projects"%></li>
                <li><%=link_to "ABOUT", "/abouts"%></li>
                <li><%=link_to "IMAGES", "/images"%></li>
                <li><%=link_to "CONTACT", "/contacts"%></li>
                </ul>
            </div>
        </div>
    </header>